kotlin-xml-dsl-generator/src/test/resources/schema/group.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:group ref="my-group"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:group name="my-group">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>