kotlin-xml-dsl-generator/src/test/resources/schema/member-functions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified">
	<xsd:element name="member" type="MemberType"/>

	<xsd:complexType name="MemberType">
		<xsd:sequence>
			<xsd:element name="comments" type="xsd:string"/>

			<xsd:element name="sub-type">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="sub-type-element" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
</xsd:schema>