kotlin-xml-dsl-generator/src/test/resources/schema/referencedType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified">
	<xsd:element name="root" type="RootType"/>

	<xsd:complexType name="RootType">
		<xsd:sequence>
			<xsd:element name="comments" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
</xsd:schema>